<plugin name='freemarker-tags' version='0.1' grailsVersion='1.3.3 &gt; *'>
  <author>Daniel Henrique Alves Lima</author>
  <authorEmail>email_daniel_h@yahoo.com.br</authorEmail>
  <title>Plugin to use Grails Dynamic Tag Libraries as Freemarker directives</title>
  <description>\
Plugin to use Grails Dynamic Tag Libraries as Freemarker directives.
</description>
  <documentation>http://grails.org/plugin/freemarker-tags</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <plugin name='freemarker' version='0.3 &gt; *' />
  </dependencies>
  <behavior />
</plugin>